html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    margin-top: 290px;
    margin-left: 220px
}

p{
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

#title-card img{
    border: 0;
    max-width: 35%;
    height: auto;
    float: right;
    margin-top: 170px;
    margin-right: 240px;
    border-radius: 20px;
    box-shadow:5px 5px 5px #B2B4B2;
}

.class-list a{
    outline: none;
    text-decoration: none;
}

.class-list a:focus, a:visited, a:active{
    text-decoration: none;
    color: #FFFFFF;
}

.class-list a:hover{
    text-decoration: none;
    color: #FF6600;
}

ul{
    margin: 2px 0 22px 17px;
}

ul li{
    list-style-type: none;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
}

.left{
    float: left;
    width: auto;
    margin-right: 10px;
}

.right{
    float: right;
    width: auto;
    margin-left: 10px;
}

.center{
    display: block;
    text-align: center;
    margin: 20px auto;
}

.nav{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #0058A4;
    color: #FFFFFF;
}

#navbar img {
    border: 0;
    width: auto;
    height: auto;
    margin-right: 720px;
    margin-bottom: 5px;
}

.class-list{
    display: flex;
    margin-right: 1rem;
    text-decoration: none;
    color: #FFFFFF;
}

.class-list a{
    display: block;
    font-size: 1rem;
    padding: 1rem;
    color: #FFFFFF;
}

.title-card{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #0058A4 10%, #FFFFFF 90%);
}

h1{
    font: normal 179% 'century gothic', arial, sans-serif, 6em;
    font-size: 3.1em;
    color: #FF6600;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

.body-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

h2{
    font: normal 145% 'century gothic', arial, sans-serif, 6em;
    font-size: 2em;
    color: #000000;
}

.body-thing h2{
    margin-top: 130px;
    margin-left: 220px;
    font-size: 2.5em;
    color: #FF6600;
}

.body-thing h3{
    margin-top: 50px;
    margin-left: 220px;
    font-size: 2.5em;
    color: #FF6600;
}

.body-thing p{
    max-width: 55%;
    word-wrap: break-word;
    white-space: normal;
    margin-left: 345px;
    padding-top: 20px;
    font-size: 15px;
    font-family: 'trebuchet ms', sans-serif;
}

ol{
    counter-reset: item;
    margin-left: 30px;
    padding-left: 0;
    font-size: 15px;
}

.body-thing li{
    display: block;
    margin-bottom: .5em;
    margin-left: 2em;
    max-width: 55%;
    word-wrap: break-word;
    white-space: normal;
    margin-left: 345px;
    padding-top: 20px;
    font-size: 15px;
    line-height: 23px;
}

.body-thing li::before{
    display: inline-block;
    content: counter(item) ") ";
    counter-increment: item;
    width: 3em;
    margin-left: -2em;
    font-size: 15px;
}

.ordered a, a:hover{
    text-decoration: none;
    color: #0058A4;
}

.footer{
    width: 100%;
    font-family: 'trebuchet ms', sans-serif;
    font-size: 90%;
    height: 100%;
    padding: 20px 0 5px 0;
    text-align: left; 
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #B2B4B2;
    margin-top: 300px;
}

.footer p{
    color: #FFFFFF;
}
